src/flows/E2C_Assign_Case_Team_Members-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>This flow is triggered by &quot;Populate Booking Details on case&quot; Process Builder, and assign Case Team Members: Creator = Running User, Viewer = Booking Owner.</description>
    <formulas>
        <name>RunningUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>E2C - Assign Case Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E2C - Assign Case Team Members</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Creator_Case_Team</name>
        <label>Create &quot;Creator&quot; Case Team</label>
        <locationX>379</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Get_Case_Team_Role_Viewer_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>RunningUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>vCaseTeamRoleCreatorID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Viewer_Case_Team</name>
        <label>Create &quot;Viewer&quot; Case Team</label>
        <locationX>386</locationX>
        <locationY>349</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>vBookingOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>vCaseTeamRoleViewerID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Team_Role_Creator_ID</name>
        <label>Get Case Team Role Creator ID</label>
        <locationX>373</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Creator_Case_Team</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creator</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>vCaseTeamRoleCreatorID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Viewer_ID</name>
        <label>Get Case Team Role Viewer ID</label>
        <locationX>381</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Viewer_Case_Team</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Viewer</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>vCaseTeamRoleViewerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Case_Team_Role_Creator_ID</startElementReference>
    <variables>
        <description>This variable capture the Case related Booking Owner ID</description>
        <name>vBookingOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Capture the e2c case record ID</description>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseTeamRoleCreatorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseTeamRoleViewerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
