src/flows/JBSystemFlow_Booking_Component_c-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj45370fb491af282a80d88fcb7e439a38_FireJBTrigger</name>
        <label>SalesforceObj45370fb491af282a80d88fcb7e439a38_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Customer__c&quot;,&quot;relationshipName&quot;:&quot;Customer__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Booking_Component__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj45370fb491af282a80d88fcb7e439a38</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>1052895</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;Customer__c&quot;,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Customer__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Customer__r:&quot;,&quot;fields&quot;:[&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;X18_Char_ID__c&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Booking_Passenger__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Booking_Passenger__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Booking_Passenger__r:&quot;,&quot;fields&quot;:[&quot;Email__c&quot;,&quot;Last_Name__c&quot;,&quot;First_Name__c&quot;,&quot;X18_Char_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Passenger__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Passenger__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Passenger__r:&quot;,&quot;fields&quot;:[&quot;X18_Char_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Selling_Company__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Selling_Company__r:&quot;,&quot;fields&quot;:[&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;ContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Current_reservation_agent_lookup__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Current_reservation_agent_lookup__r:&quot;,&quot;fields&quot;:[&quot;LastName&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;First_reservation_agent_lookup__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:First_reservation_agent_lookup__r:&quot;,&quot;fields&quot;:[&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;LastModifiedBy&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:LastModifiedBy:&quot;,&quot;fields&quot;:[&quot;ContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Reservation_Agent_1__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Reservation_Agent_1__r:&quot;,&quot;fields&quot;:[&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Tour_Director__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Tour_Director__r:&quot;,&quot;fields&quot;:[&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Customer__c&quot;,&quot;CreatedById&quot;,&quot;Last_Name__c&quot;,&quot;Passenger__c&quot;,&quot;First_Name__c&quot;,&quot;LastModifiedById&quot;,&quot;Tour_Director__c&quot;,&quot;Booking_Number__c&quot;,&quot;Selling_Company__c&quot;,&quot;Booking_Passenger__c&quot;,&quot;Reservation_Agent_1__c&quot;,&quot;First_reservation_agent_lookup__c&quot;,&quot;Current_reservation_agent_lookup__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Booking__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Booking_Number__r&quot;,&quot;dePrefix&quot;:&quot;Booking_Component__c:Booking_Number__r:&quot;,&quot;fields&quot;:[&quot;First_Departure_Date__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj45370fb491af282a80d88fcb7e439a38</name>
        <label>JB_Decision_Null_Check_SalesforceObj45370fb491af282a80d88fcb7e439a38</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Customer__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Decision</name>
        <label>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj45370fb491af282a80d88fcb7e439a38</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj45370fb491af282a80d88fcb7e439a38_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj45370fb491af282a80d88fcb7e439a38</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_State_change_Decision</name>
        <label>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj45370fb491af282a80d88fcb7e439a38</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45370fb491af282a80d88fcb7e439a38_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj45370fb491af282a80d88fcb7e439a38</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Booking_Component_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj45370fb491af282a80d88fcb7e439a38</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking_Component__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking_Component__c</objectType>
    </variables>
</Flow>
