src/flows/JBSystemFlow_Lead-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_FireJBTrigger</name>
        <label>SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;DSE__DS_Account__c&quot;,&quot;relationshipName&quot;:&quot;DSE__DS_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>1057919</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;DSE__DS_Account__c&quot;,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;DSE__DS_Account__r&quot;,&quot;dePrefix&quot;:&quot;Lead:DSE__DS_Account__r:&quot;,&quot;fields&quot;:[&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;CreatedDate&quot;,&quot;Web_Request_Type__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</name>
        <label>JB_Decision_Null_Check_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DSE__DS_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DSE__DS_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Decision</name>
        <label>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Selling_Company_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTUSAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_State_change_Decision</name>
        <label>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Selling_Company_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTUSAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj1dcb1e8374db5ad9af5948fe0e959ac3</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
